### Appending record from CSV to and existing SQL table

In [2]:
import pandas as pd
import sqlite3

**Append encounters table records**

In [35]:
# Load the csv
encounter_df = pd.read_csv("encounters.csv")

# Convert Column Start and Stop to datetime datatype
cols = encounter_df.columns[1:3]
encounter_df[cols] = encounter_df[cols].apply(pd.to_datetime, errors='coerce')

# Connect to the datadase
conn = sqlite3.connect("hospital_db")

#Append records into encounters table(already exists)
encounter_df.to_sql("encounters",conn, if_exists="replace", index=False)

27891

In [22]:
encounter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27891 entries, 0 to 27890
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   27891 non-null  object
 1   START                27891 non-null  datetime64[ns, UTC]
 2   STOP                 27891 non-null  datetime64[ns, UTC]
 3   PATIENT              27891 non-null  object
 4   ORGANIZATION         27891 non-null  object
 5   PAYER                27891 non-null  object
 6   ENCOUNTERCLASS       27891 non-null  object
 7   CODE                 27891 non-null  int64
 8   DESCRIPTION          27891 non-null  object
 9   BASE_ENCOUNTER_COST  27891 non-null  float64
 10  TOTAL_CLAIM_COST     27891 non-null  float64
 11  PAYER_COVERAGE       27891 non-null  float64
 12  REASONCODE           8350 non-null   float64
 13  REASONDESCRIPTION    8350 non-null   object
dtypes: datetime64[ns, UTC](2), float64(4), int64(1), object(7)
memory usage: 3.0+ MB

In [31]:
# # Extract Year of Encounter
# encounter_df["ENCOUNTERYEAR"] = encounter_df["START"].dt.year

**Append procedure table records**

In [ ]:
# Load the csv
procedure_df = pd.read_csv("procedures.csv")

# # Connect to the datadase
# conn = sqlite3.connect("hospital_db")

# #Append records into encounters table(already exists)
# procedure_df.to_sql("procedures",conn, if_exists="append", index=False)

**Add organization table**

In [ ]:
# Load the csv
org_df = pd.read_csv("organizations.csv")

# # Connect to the datadase
# conn = sqlite3.connect("hospital_db")

# #Append records into encounters table(already exists)
# org_df.to_sql("organizations",conn, if_exists="replace", index=False)